body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.search__field {
  border: 1px solid #9464a8;
  border-radius: 4px;
  color: black;
}

.search__field--jumbo {
  height: 40px;
  width: 500px;
  font-size: 32px;
}

.search__button {
  float: right;
  height: 40px;

  background: white;
  border: 1px solid #9464a8;
  border-radius: 4px;
  color: black;
  text-transform: uppercase;
}

.search__field:hover, .search__button:hover {
  background: whitesmoke;
}

.result__block {
  color: black;
}

.result__block img {
  height: 400px;
}

.input__container {
  width: 600px;
  margin: 0px auto;
}
