<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
  <body>

  <input class="search__field search__field--jumbo funky--border"/>
  <button class="search__button">Submit</button>
  <div class="result__block"></div>

  </body>
</html>
